body {
  background-color: #000000;
  font-family: 'Roboto Condensed', sans-serif; }
  body h4 {
    font-size: 14pt; }

.topbanner {
  position: fixed;
  top: 0;
  z-index: 100000;
  height: 27px;
  background-color: #000000; }
  .topbanner a {
    padding-right: 7px; }
  .topbanner select {
    margin: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 8pt;
    margin-left: 15px;
    margin-right: 15px; }
  .topbanner .basket {
    margin-right: 10px; }

nav {
  margin-top: 27px;
  font-family: 'Kanit', sans-serif;
  background-color: #202020;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd; }
  nav ul {
    padding-right: 20px; }
  nav form .form-control {
    border-radius: 0;
    background-color: #222;
    border: none; }
  nav form .btn {
    border-radius: 0;
    border: none; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

.dropdown-item {
  background-color: #000000;
  color: #fff; }

.dropdown-menu {
  padding: 0; }

header {
  margin-top: 67px; }

.pre-section {
  margin-top: 3px; }
  .pre-section a {
    border: 3px solid black;
    color: #000;
    background-color: #ccc;
    padding: 8px;
    font-size: 0.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease; }
  .pre-section .hotlink {
    background-color: #FFD700; }
  .pre-section a:hover {
    background-color: #fff; }

.section-headline {
  font-family: 'Exo 2', sans-serif;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
  text-align: center; }

.choose-surface {
  overflow: hidden;
  position: relative;
  border-radius: 1%;
  transition: 0.3s ease-in-out; }
  .choose-surface img {
    filter: grayscale(100%);
    transition: 0.3s ease-in-out; }
  .choose-surface h4 {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    padding: 20px; }
  .choose-surface p {
    text-transform: uppercase; }
  .choose-surface button {
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    color: #111;
    background-color: #fff;
    border: none;
    transition: 0.2s ease-in-out; }
  .choose-surface .choose-surface-inner {
    position: absolute;
    top: 80%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center; }

.choose-surface:hover {
  box-shadow: 0px 0px 20px #fff; }
  .choose-surface:hover img {
    filter: none;
    transform: scale(1.1); }
  .choose-surface:hover .choose-surface-inner {
    top: 40%; }
  .choose-surface:hover button:hover {
    background-color: #aaa; }

.kitout-tile {
  overflow: hidden;
  position: relative; }
  .kitout-tile img {
    transition: 0.3s ease-in-out; }
  .kitout-tile .kitout-tile-overlay {
    padding-top: 20px;
    position: absolute;
    top: 70%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center; }
    .kitout-tile .kitout-tile-overlay h4 {
      font-family: 'Exo 2', sans-serif;
      font-weight: bold;
      padding: 20px; }
    .kitout-tile .kitout-tile-overlay p {
      padding: 15px; }
    .kitout-tile .kitout-tile-overlay button {
      margin: 5px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 10pt;
      font-weight: bold;
      color: #111;
      background-color: #fff;
      border: none;
      transition: 0.2s ease-in-out; }

.kitout-tile:hover .kitout-tile-overlay {
  padding-top: 70px;
  top: 0%; }
  .kitout-tile:hover .kitout-tile-overlay button:hover {
    background-color: #aaa; }

.sale {
  font-family: 'Exo 2', sans-serif;
  min-height: 332px;
  width: 100%;
  background: linear-gradient(#B22222, #8B0000);
  display: table;
  text-align: center;
  transition: 0.3s ease-in-out; }
  .sale .sale-container {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #fff; }
    .sale .sale-container h1, .sale .sale-container h3 {
      padding: 10px; }

.sale:hover {
  opacity: 0.7; }

.kitted-out-mini {
  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in-out; }
  .kitted-out-mini h4 {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    padding: 20px; }
  .kitted-out-mini button {
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    color: #111;
    background-color: #fff;
    border: none;
    transition: 0.2s ease-in-out; }
  .kitted-out-mini .kitted-out-mini-inner {
    position: absolute;
    padding: 0px 10px;
    top: 75%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center; }

.kitted-out-mini:hover .kitted-out-mini-inner {
  padding-top: 10px;
  top: 0%; }
.kitted-out-mini:hover button:hover {
  background-color: #aaa; }

footer {
  background-color: #202020;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
  font-family: 'Kanit', sans-serif;
  height: 50px;
  text-transform: uppercase;
  font-size: 9pt; }
  footer .nav {
    padding-top: 10px; }
    footer .nav img {
      padding-top: 5px;
      padding-right: 8px; }
  footer a {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
